* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

#social {
  background-color: transparent;
  padding: 8px; }
  #social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px; }
  #social li {
    list-style: none; }
  #social a {
    text-decoration: none; }
  #social a:link,
  #social a:visited {
    color: white; }

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
  background-color: transparent; }

.navbar-logo img {
  height: 80px;
  width: 80px; }

.navbar-links {
  display: flex;
  width: 50%;
  justify-content: space-around; }
  .navbar-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    border-bottom: solid 2px white;
    padding-bottom: 0.5rem; }
  .navbar-links li {
    list-style: none; }

.burger {
  display: none;
  cursor: pointer; }
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease; }

@media screen and (max-width: 1024px) {
  .navbar-links {
    width: 60%; } }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }
  .navbar-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #0d1226; }
    .navbar-links li {
      opacity: 0; }
  .burger {
    display: block; }
    .burger div {
      width: 25px;
      height: 4px;
      margin: 5px;
      background-color: black; } }

.nav-active {
  transform: translateX(0); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px); }

#welcome {
  background: linear-gradient(to bottom, rgba(13, 18, 38, 0.8), rgba(142, 155, 215, 0.8)), url("/assets/emile-perron-190221-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow: hidden;
  position: absolute; }

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding-left: 3rem; }
  .main-section .heading {
    font-size: 8rem;
    color: white;
    opacity: 0; }
  .main-section .sub-heading {
    font-size: 2rem;
    color: white;
    opacity: 0;
    font-family: 'Playfair Display', serif; }

@media screen and (max-width: 768px) {
  .main-section h1 {
    font-size: 7rem; } }

@media screen and (max-width: 500px) {
  .main-section h1 {
    font-size: 5rem; } }

.slide-in {
  animation: slideIn 0.5s ease forwards; }

@keyframes slideIn {
  from {
    transform: translateX(100%);
    visibility: visible; }
  to {
    transform: translateX(0%); } }

#projects {
  background: linear-gradient(to bottom, rgba(13, 18, 38, 0.8), rgba(142, 155, 215, 0.8)), url("/assets/emile-perron-190221-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow: hidden;
  position: absolute; }

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding-left: 3rem; }
  .projects-section .heading {
    font-size: 8rem;
    color: white;
    opacity: 0; }
  .projects-section .sub-heading {
    font-size: 2rem;
    color: white;
    opacity: 0;
    font-family: 'Playfair Display', serif; }
