.home-about {
  padding: 4em 0;
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  background-color: #182045;
  color: #d9def2;
  display: flex;
  flex-direction: column;
  align-items: center; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  background-color: black; }

footer nav {
  display: flex;
  flex-direction: row;
  width: 40%; }

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%; }

footer a {
  text-decoration: none; }

.social-nav {
  margin-left: auto;
  width: 40%; }
  .social-nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.background {
  height: 100vh;
  background: url("../assets/emile-perron-190221-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; }

.background-buttons {
  padding-top: 2rem;
  font-size: 2rem; }

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text); }

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem; }
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out; }
  .nav__link:hover::after {
    transform: scaleX(1); }
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em; }
    .nav__link--btn:hover {
      background: var(--text);
      color: var(--text-inverse);
      border-color: var(--text); }
    .nav__link--btn::after {
      display: none; }
    .nav__link--btn--highlight {
      background: limegreen;
      border-color: limegreen;
      color: #333; }
      .nav__link--btn--highlight:hover {
        background: var(--text);
        border-color: var(--text); }

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); }

.home-projects {
  background-color: pink;
  height: 100%; }

.projects-grid {
  display: flex;
  flex-direction: row;
  height: 100%; }

.from-left {
  grid-column: 2 / 3; }

.from-right {
  grid-column: 3 / 4; }

.col-proj {
  height: 30%; }

.col h3 {
  font-size: 4rem; }

.col h4 {
  font-size: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

.columns {
  display: flex;
  padding-top: 2rem;
  width: 100%;
  justify-content: center; }

.col {
  width: 30%;
  border: solid 2px black;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  height: 100%; }

.primary-heading {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 1rem; }

.heading-2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 7px;
  text-align: center; }

.heading-3 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 7px; }

.button {
  border-top: 2rem;
  border: solid 2px black;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 100px;
  text-decoration: none; }
