.projects-grid {
	background: #f4f4f4;
	padding: 4em 0;
	display: grid;
	grid-gap: 2em;
	align-items: center;
	grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
	height: 100vh;
}
.from-left {
	grid-column: 2 / 3;
}
.from-right {
	grid-column: 3 / 4;
}

.col-proj {
	height: 30%;
}

.col {
	h3 {
		font-size: 4rem;
	}

	h4 {
		font-size: 3rem;
	}
}
