.home-projects {
	background-color: white;
	height: 100%;
}

// .projects-grid {
// 	display: flex;
// 	flex-direction: row;
// 	height: 100%;
// }

.col-proj {
	height: 30%;
}

.col {
	h3 {
		font-size: 4rem;
	}

	h4 {
		font-size: 3rem;
		text-align: center;
	}
}

.columns {
	display: flex;
	padding-top: 2rem;
	width: 100%;
	justify-content: center;
}

.col {
	width: 30%;
	border: solid 2px black;
	padding: 2rem;
	margin: 2rem;
	text-align: center;
	height: 100%;
}

// .screenshot {
// 	height: 100px;
// 	width: 100px;
// 	display: flex;
// 	justify-content: center;
// }

// .screenshot-port {
// 	background-image: url('../assets/screenshots/Screenshot\ \(17\).png');
// 	background-size: cover;
// }

.project-stack {
	display: flex;
	flex-direction: row;
	// width: 50%;
	justify-content: center;
}
