// $primary-100: #d9def2;
@import "./typography";

#about {
  padding: 4em 0;
  margin: 0 auto;
  height: 100%;
  background-color: $primary-800;
  color: $primary-100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

h4 {
  width: 75%;
  font-size: 3.2rem;
  font-weight: 500;
  padding-bottom: 8rem;
}

@media (max-width: 430px) {
  #about h2 {
    font-size: 3rem;
    padding-top: 0;
  }

  h4 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
}
