.navigation {
  // height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  columns: white;
  padding: 1rem 0rem;
  width: 100%;
  position: fixed;

  &__brand {
    padding-left: 5rem;
    img {
      height: 50px;
      width: 50px;
    }

    @media (max-width: 400px) {
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      color: white;
      padding: 1rem;
      text-decoration: none;
      font-size: 1.6rem;
    }
    &:hover,
    &:active {
      border-bottom: 3px solid white;
    }
  }

  &__toggle {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }

  &__toggle--bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;

    &__toggle {
      display: flex;
    }

    &__container {
      display: none;
      width: 100%;

      &.active {
        display: flex;
      }
    }

    &__list {
      width: 100%;
      flex-direction: column;
    }

    &__item {
      text-align: center;
      padding: 1rem;
    }
  }
}
