.navigation {
  // height: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #333;
  columns: white;
  padding: 1rem 0rem;
  width: 100%;
  position: fixed;

  &__brand {
    padding-left: 5rem;
    img {
      height: 50px;
      width: 50px;
    }

    @media (max-width: 400px) {
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 0 2rem;
      border: 4px solid transparent;
      // display: inline-block;
      display: block;
      // vertical-align: top;
      line-height: 3rem;
      text-transform: uppercase;
      color: white;
      letter-spacing: 4px;
      text-align: center;
      font-size: 1.6rem;
      margin: 10px;
      position: relative;
    }

    &:link::after {
      width: 0%;
      height: 4px;
      display: block;
      background-color: #fff;
      content: "";
      position: absolute;
      top: 34px;
      left: 50%;
      transition: left 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &:hover::after,
    &:active::after {
      width: 100%;
      top: 34px;
      left: 0;
    }
  }

  &__toggle {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }

  &__toggle--bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;

    &__toggle {
      display: flex;
      top: 2rem;
      right: 2rem;
      color: white;
    }

    &__container {
      display: none;
      width: 100%;

      &.active {
        display: flex;
      }
    }

    &__list {
      width: 100%;
      flex-direction: column;
    }

    &__item {
      text-align: center;
      padding: 1rem;
    }
  }
}
